@import url('https://fonts.googleapis.com/css?family=Lato:400');

* {
  list-style: none;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #6f23ff;
  border-bottom-left-radius: 100px;
  height: 90vh;
  padding-bottom: 100px;
}

.main {
  background-image: url(../images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 108px 20px 0 20px;
}

.main-text {
  font-size: 50px;
  color: #fff;
}

.info-text {
  font-size: 22px;
  color: #fff;
}

.connect-btn {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #ffc800;
  border-radius: 5px;
  padding: 1rem 4rem;
}

/* --------Teachers Section-------- */

.teacher-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 0 20px 0 20px;
  background-color: #f9faff;
}

.te-h2-title {
  color: #383b72;
  margin-top: 50px;
}

.te-p-info {
  color: #7e7bb2;
}

.teachers-container {
  display: flex;
  gap: 10px;
}

.teachers-images {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: -30px;
}

.teachers-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #fff;
  padding: 20px 20px 20px 50px;
  margin-left: 50px;
}

.teachers-name {
  color: #45487b;
}

.teachers-position {
  color: #b5b5b5;
}

.teachers-subject {
  color: #5c5a5b;
}