@import url('https://fonts.googleapis.com/css?family=Lato:400');

* {
  list-style: none;
  text-decoration: none;
  font-family: 'lato', sans-serif;
  padding: 0;
  margin: 0;
}

.nav-container {
  background-color: #6f23ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 20px 0 20px;
}

h1 {
  color: #fff;
}

.menu-icon {
  color: #fff;
  font-size: 32px;
}

.hide {
  display: none;
}

.show {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #3d396b;
  gap: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  padding-top: 100px;
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}

.open {
  transform: translateY(0%);
}

.close-icon {
  cursor: pointer;
  position: absolute;
  color: #fff;
  font-size: 32px;
  top: 25px;
  right: 20px;
}

.nav-ul-link {
  color: #fff;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* ------about section--------- */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .hide {
    display: flex;
  }
}
